{% extends "layout.html" %}
{% block content %}
<form action="/addresses/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="fldName">First Name</label>
            <input id="fldName" type="text" class="form-control" placeholder="First Name" name="fldName">
        </div>
        <div class="col">
            <label for="fldLN">Last Name</label>
            <input id="fldLN" t ype="text" class="form-control" placeholder="Last name"
                   name="fldLN">
        </div>
        <div class="col">
            <label for="fldStreet">Street Address</label>
            <input id="fldStreet" type="text" class="form-control" placeholder="Street Address" name="fldCountry">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldCity">City </label>
            <input id="fldCity" type="text" class="form-control" placeholder="City" name="fldLat">
        </div>
        <div class="col">
            <label for="fldState">State</label>
            <input id="fldState" type="text" class="form-control" placeholder="State" name="fldLong">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="fldZip">Zip Code</label>

            <input id="fldZip" type="text" class="form-control" placeholder="Zip Code "
                   name="fldZip">
        </div>

    </div>
    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}

